# Rust compilation artifacts
/target/

# Cargo lock file
**/*.rs.bk

# IDE configuration files
.idea/
.rustrover/
*.iml

# Local environmental files
.env
*.local
.DS_Store

# Omit local runtime configs
config.toml

# Omit local rule files
/config/*.json

# Local mock_logs
/mock_logs

# Local dev / testing files
/repo_dump.txt

